<div class="container align-items-center justify-content-center ">
    <div class="row align-items-center justify-content-center">
        <div class="card mt-5" style="width: 18rem;">
            <img src="{{student.photoUrl}}" class="card-img-top" alt="profile picture">
            <div class="card-body">
                <h4 class="card-title">{{student.name}}</h4>
                <div class="card-text">
                <h6>id : {{student.id}}</h6>
                <h6>age : {{student.age}}</h6>
                </div>
                <a href="#" class="btn btn-primary">Get more data</a>
            </div>
        </div>
    </div>
</div>