* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
}
.hero {
  height: 100vh;
  width: 100%;
  background: url("png/activity3.png");
  background-size: cover;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero div {
  width: 80%;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*.hero div {
  width: 80%;
  color: white;
  text-align: center;
  position: absolute;
  padding: 200px;
  overflow: hidden;
  
}*/
.hero h1 {
  margin-bottom: 20px;
}
.hero p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 18px;
}
.hero button {
  cursor: pointer;
  padding: 12px 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.hero button:hover {
  background-color: rgb(198, 102, 6);
}

.activities {
  padding: 50px 0;
  text-align: center;
}
.activities h2 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}
.activities hr {
  width: 200px;
  height: 2px;
  background-color: #7676ea;
  margin: 0 auto 50px;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.card {
  display: inline-block;
  width: 30%;
  margin: 0 10px;
  text-align: center;
}
.card img {
  width: 100%;
  margin-bottom: 20px;
}

.bar {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

.bar img {
  max-width: 100%;
  height: auto;
  display: block;
}
.card .icon {
  width: 100%;
  padding: 10px 10px;
  display: none;
  background-color: #ff9999;
}
.card .icon div {
  display: inline-block;
  border: 2px solid white;
  border-radius: 100%;
  margin: 0 15px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  text-align: center;
}

.card .icon img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.card p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 18px;
}
.card:hover .icon {
  display: inline-block;
}
.card:hover img {
  margin-bottom: 0px;
}
.card .icon div:hover {
  background-color: white;
}

.gallary {
  display: flex;
  justify-content: center;
 align-items: center;
  margin-top: 50px;
  height: 50vh;
}
.gallary{
 padding :20px ;
}
.gallary div{
    width:20%;
}
.gallary div img {
     padding :20px ;
  width: 100%;
  filter: blur(2px);
}
.gallary div p {
  display: none;
  width: 90%;
  text-align: center;
  margin: 0 auto 50px;
  line-height: 1.5;
  font-size: 14px;
}
.gallary div:hover img {
  filter: blur(0);
}
.gallary div:hover p {
  display: block;
}



@media (max-width: 768px) {
  
  .card {
    display: block;    
    width: 95%;        
    margin: 20px auto; 
  }

  .gallary {
    display: flex;
    flex-direction: column; 
    height: auto;           
  }

  .gallary div {
    width: 100%;            
    margin-bottom: 10px;   
  }

  .gallary div img {
    filter: blur(0);        
  }

  .gallary div p {
    display: block;         
    position: static;       
    padding: 10px;
  }
}