*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
header{
    background-color:rgb(121, 238, 238);
    margin : 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;

}
nav ul{
    background-color: blue;
    color:white;
    display: flex;
    margin: 10px;
    list-style: none;
    border: 2px solid black;

}
nav li{
    margin:10px;
    text-decoration: none;
    list-style: none;
}
.content{
    display:flex;
    margin:10px;
    border: 2px solid black;
}
.articles{
    width:80%;
    border: 1px solid black;
    padding :10px;
    margin-bottom:2px;
    display: flex;
    flex-direction: column;
}
#article1{
    height: 45%;
    background-color: rgb(121, 238, 238);
    border: 1px solid black;
    margin-bottom:10px;
}
#article2{
    height: 45%;
    background-color: rgb(209, 209, 209);
    border: 1px solid black;
    margin-bottom:10px;

}
aside{
    border: 1px solid black;
    width:20%;
    margin:10px;
    
}
aside ul {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
aside li {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgb(121, 238, 238);
    text-align: center;
    list-style: none;
}
aside li#m {
    background-color: rgb(209, 209, 209);
}
footer {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(121, 238, 238);
    padding: 10px;
    margin-top: 10px;
}